body {
    margin: 0;
}
/* .navwrapper {
    float: right;
    
    
} */

.logo {
    background-color: lightgrey;
    height: 10vh;
    width: 20vw;
    float: left;
    margin-right: 11vw;
    margin-left: 5px;
    margin-bottom: 20px;
    margin-top: 20px
}

.nava {
    background-color: lightgrey;
    height: 7vh;
    width: 16vw;
    margin: 30px 10px;
    float: left;
}

.navb {
    background-color: lightgrey;
    height: 7vh;
    width: 16vw;
    margin: 30px 0;
    float: left;
}

.navc {
    background-color: lightgrey;
    height: 7vh;
    width: 16vw;
    margin: 30px 10px 30px 10px;
    float: left;
}

.navd {
    background-color: lightgrey;
    height: 7vh;
    width: 16vw;
    margin: 30px 10px 30px 0px;
    float: left;
}

.bigpicture {
    clear: both;
    background-color: lightgrey;
    height: 33vh;
    width: 98vw;
    margin: 5px 5px;
}

/* .excerptwrap {
    margin-bottom: 10px
    
} */

.story1 {
    background-color: lightgrey;
    height: 200px;
    width: 32vw;
    float: left;
    margin: 10px 10px 10px 5px;
}

.story2 {
    background-color: lightgrey;
    height: 200px;
    width: 32vw;
    margin: 10px 10px;
    float: left;
}

.story3 {
    background-color: lightgrey;
    height: 00px;
    width: 31vw;
    margin: 10px 0px 10px 10px;
    float: left;
}
footer {
    clear: both;
    background-color: lightgrey;
    height: 13vh;
    width: 98vw;
    margin: 10px 5px;
}
